@model IEnumerable<WishList.Models.Item>

<h1>WishList</h1>
<a asp-action="create">Add Item</a>
<ul>
    @foreach (var items in Model)
    {
        <li>
            @items.Description
            <a asp-action="delete" asp-route-id="@items.Id">Delete</a>
        </li>
    }
</ul>